h1 {
  font-size: 28px;
  line-height: 42px;
  color: #323238;
  font-weight: 800;
}
.line {
  display: block;
  height: 2px;
  background-color: #d0d4e4;
  margin: 8px 0 0 0;
}

.container-in {
  h2 {
    margin: 32px 0 0 0;
    font-size: 24px;
    color: #323238;
    font-weight: 300;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    color: #676879;
    margin: 0;
  }

  .input-container {
    padding: 32px;
    border: 1px solid #d0d4e4;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    // margin: 30px;
    font-family: "Figtree", sans-serif;
    margin-top: 18px;

    &.input-search-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .search-box {
      display: flex;
      flex-direction: column;
      gap: 20px;
      svg {
        margin: 7px;
      }
    }
    .error-msg {
      margin: 0;
      // margin-bottom: 20px;
      font-size: 12px;
      font-weight: 400;
      line-height: 22px;
      color: #d72300;
    }
    .label-container {
      label {
        font-size: 13px;
        font-weight: 500;
        color: #323238;
      }
      input,
      select {
        margin-top: 8px;
      }

      .login-user {
        display: flex;
        align-items: center;
        justify-content: start;
        // padding: 12px 0;
        border: 1px solid #c3c6d4;
        border-radius: 4px;
        font-size: 13px;
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        margin: 20px 0;
        width: 100%;
        margin-top: 8px;
        svg {
          width: 15px;
          height: 15px;
          margin: 11px 14px;
          margin-right: 8px;
        }
        input {
          padding: 0;
          margin: 0;
          border: 0;
          outline: 0;
          box-sizing: border-box;
          &:focus {
            border-color: transparent;
            box-shadow: none;
          }
        }
      }
    }
    input {
      padding: 0 12px;
      border: 1px solid #c3c6d4;
      border-radius: 4px;
      font-size: 13px;
      width: 100%;
      box-sizing: border-box;
      background-color: #fff;
      margin: 20px 0;
      &:focus {
        border-color: #007bff;
        outline: none;
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
      }

      &::placeholder {
        color: #676879;
      }

      &:disabled {
        background-color: #f5f5f5;
        cursor: not-allowed;
      }

      &.very-small {
        height: 28px;
      }

      &.small {
        height: 32px;
      }

      &.medium {
        height: 38px;
      }

      &.large {
        height: 42px;
      }

      &.extra-large {
        height: 48px;
      }

      &.xxl {
        height: 54px;
      }
    }
    .custome-select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: #fff;
      border: 1px solid #c3c6d4;
      padding: 0 12px;
      border-radius: 4px;
      font-size: 13px;
      font-weight: 400;
      color: #676879;
      width: 100%;
      box-sizing: border-box;
      margin: 20px 0;
      /* for better UI */
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23676879' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 10px 10px;
      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
      }
      &.very-small {
        height: 28px;
      }

      &.small {
        height: 32px;
      }

      &.medium {
        height: 38px;
      }

      &.large {
        height: 42px;
      }

      &.extra-large {
        height: 48px;
      }

      &.xxl {
        height: 54px;
      }
    }

    .validate-select {
      border: 1px solid #d72300;
      margin-bottom: 0;
      &:focus {
        outline: none;
        border-color: #d72300;
        box-shadow: 0 0 0 2px #fa340c;
      }
    }

    .search-container {
      display: flex;
      align-items: center;
      max-width: 274px;
      border: 1px solid #e5e6ec;
      border-radius: 4px;
      &.very-small {
        height: 28px;
      }

      &.small {
        height: 32px;
      }

      svg {
        margin: 5px 6px;
      }
      input {
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
        &::placeholder {
          font-size: 12px;
          font-weight: 400;
          color: #949494;
        }
        &:focus {
          &:focus {
            border-color: none;
            outline: none;
            box-shadow: none;
          }
        }
      }
      .search-btn {
        border: none;
        outline: none;
        background-color: #eeeeef;
        font-size: 12px;
        font-weight: 500;
        color: #4d4d4d;
        height: 100%;
        padding: 5px 8px;
      }
    }
  }

  &.default {
    h2 {
      margin-top: 32px;
      margin-bottom: 12px;
    }

    .input-container {
      margin-top: 48px;
    }
  }
  &.label,
  &.login {
    h2 {
      margin-top: 48px;
    }
    .label-container {
      .error-msg {
        margin-bottom: 20px;
      }
    }
  }
}

.upload-container {
  // max-width: 600px;
  // margin: 50px auto;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
  padding: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .upload-box {
    border: 1.5px dashed #c3c6d4;
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff;
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: border-color 0.3s;
    width: 100%;
    height: 200px;
    font-size: 13px;
    font-weight: 500;
    color: #202020;
    &:hover {
      border-color: #5a67d8;
    }

    input[type="file"] {
      display: none;
    }

    .choose-file {
      color: #017bba;
      font-weight: 500;
      text-decoration: underline;
      cursor: pointer;
      margin-top: 8px;
    }
  }
  .file-info {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 12px;
      font-weight: 400;
      color: #676879;
      margin-top: 8px;
    }
  }
  .progress-wrapper {
    margin-top: 20px;
    background: #f6f7fb;
    border-radius: 12px;
    padding: 16px;

    .file-details {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;
      .files-info {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 8px;
        .xls-file {
          border: 1px solid #d0d4e4;
          padding: 7px;
          border-radius: 4px;
          background-color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .file-name {
          display: flex;
          flex-direction: column;
          .name {
            font-size: 13px;
            font-weight: 500;
            color: #323238;
          }
          .size {
            font-size: 12px;
            font-weight: 400;
            color: #676879;
            line-height: 20px;
          }
        }
      }
    }
    .upload-status {
      margin-top: 13px;
      margin-bottom: 9px;
      font-size: 12px;
      font-weight: 500;
      color: #676879;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .progress-bar {
      height: 10px;
      border-radius: 8px;
      background: #e0e0e0;
      overflow: hidden;

      .progress-fill {
        height: 100%;
        width: 50%; // Update dynamically via style or class
        background: linear-gradient(to right, #00f0ff, #ff00e5);
        border-radius: 8px;
        transition: width 0.4s ease-in-out;
      }
    }
  }
}

